<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>The Onion Scraper</title>
  </head>
  <section class="orange valign-wrapper">
    <div class="container valign-fixed">
        <div class="row">
            <div class="col l12">
               <h2 class="center-align white-text">Scrapin' The Onion</h2>
               <p class="center-align flow-text">See recently scraped articles....it's grate!</p>
            </div>
        </div>
    </div>
</section>
  <body>
    {{{body}}}
      
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
