<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>The Onion Scraper</title>
  <link rel="stylesheet" href="../public/../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<div class="navbar-fixed">
  <nav class="orange">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/saved">Saved Articles</a>
        </li>

      </ul>
    </div>
  </nav>
</div>
<section class="orange valign-wrapper">
  <div class="container valign-fixed">

    <div class="row">
      <div class="col l12">

        <h2 class="center-align white-text">Scrapin' The Onion</h2>
        <p style="bold" class="center-align flow-text">See recently scraped articles....it's grate!</p>
        <img id="onionImg" src="../public/../img/onions.png" height="300px" width="350px" alt="onion image">
        <div class="overlay">

          <div class="row">

            <a class="waves-effect waves-light btn pulse">Scrape the onion!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<body class="light green">
  <div class="row">
    {{{body}}}
  </div>
</body>

<script src="app.js"></script>
<script src="../public/../js/javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</body>

</html>