

<div id = "articles">
{{#each scrapedArticles}}
            <div class="card small">
                <p>Title: {{this.title}}</p>
                <p>Link: {{this.link}}</p>
                <p>Note: {{this.note}}</p>
                <br>
                <br>
                <button id="makeNote">Write a Note</button>
                <button id="saveBtn">Save Article</button>
             </div>
{{/each}}
</div>


